<nav>
    <ul class="acorh">
        <li><a href="#">ANTECEDENTES</a>
            <ul>
            <li><a href="#">PERSONALES</a></li>
            <li><a routerLink="antecedentes">FAMILIARES</a></li>
            </ul>
        </li>
        <li><a href="#">CONSULTA</a>
            <ul>
            <li><a href="#">PROCEDENCIA</a></li>
            <li><a href="#">DIAGNOSTICO MÉDICO</a></li>
            </ul>
        </li>
        <li><a href="#">PRUEBAS</a>
            <ul>
            <li><a href="#">COGNITIVA</a></li>
            <li><a href="#">EMOCIONAL</a></li>
            <li><a href="#">PRUEBAS PSICODIAGNOSTICO</a></li>
            </ul>
        </li>
        <li><a href="#">ENFERMEDAD ACTUAL</a>
        </li>
        <li><a href="#">SEGUIMIENTO</a>
            <ul>
                <li><a href="#">COGNITIVA</a></li>
                <li><a href="#">EMOCIONAL</a></li>
                <li><a href="#">PRUEBAS PSICODIAGNOSTICO</a></li>
            </ul>
        </li>
        <li><a href="#">INFORMES</a>
            <ul>
                <li><a href="#">PACIENTE</a></li>
                <li><a href="#">JUDICIAL</a></li>
                <li><a href="#">PROTECCION DATOS</a></li>
            </ul>
        </li>
        <li><a href="#">FACTURAS</a></li>
        <li><a href="#">VIDEOLLAMADA</a>
            <ul>
                <li><a href="#">SESIONES</a></li>
                <li><a href="#">GRABACIONES</a></li>
            </ul>
        </li>
        </ul>
</nav>
<router-outlet name="prueba"></router-outlet>
