<app-cabecera></app-cabecera>
<router-outlet></router-outlet>
<!--<div class="menu col-sm-12">-->
<!--  &lt;!&ndash; estaba puesta la clase container pero esta centra todo sola y nosotros queremos aprovechar todo el ancho de la pantalla&ndash;&gt;-->
<!--  <div class="row">-->
<!--    <div class="col-md-2 ">-->
<!--      <app-menu-consulta></app-menu-consulta>-->
<!--    </div>-->
<!--    <div class="col-sm-10 ">-->
<!--      <app-menu-paciente></app-menu-paciente>-->
<!--      &lt;!&ndash; <app-antecedentes></app-antecedentes> &ndash;&gt;-->
<!--      &lt;!&ndash;  <app-consulta></app-consulta> &ndash;&gt;-->
<!--      <app-pruebas></app-pruebas>-->
<!--      &lt;!&ndash; <app-informes></app-informes> &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
