<app-botonera></app-botonera>
    <div class="menu col-sm-12"> <!-- estaba puesta la clase container pero esta centra todo sola y nosotros queremos aprovechar todo el ancho de la pantalla-->

        <div class="row">
           <div class="col-md-2 ">
            <app-menu-consulta></app-menu-consulta>
           </div>
            
            <div class="col-sm-10 " >
                <app-menu-paciente></app-menu-paciente>

                <!-- <app-antecedentes></app-antecedentes> -->
               <!--  <app-consulta></app-consulta> -->
                <app-pruebas></app-pruebas>
 
               <!-- <app-informes></app-informes> -->
            </div>

           
            
    
        </div> 
        
    </div>
