
   
<form class="antecedentes">
    <div class="form-outline  mb-4">
        <label class="form-label" for="ant_personales">Antecedentes Personales: </label>
        <textarea class="form-control" id="ant_personales" rows="3"></textarea>
        <button type="button" class="button" value="Submit Button">Guardar</button>
    </div>
    <div class="form-outline  mb-4">
        <label class="form-label" for="ant_familiares">Antecedentes Familiares: </label>
        <textarea class="form-control" id="ant_familiares" rows="3"></textarea>
        <button type="button" class="button" value="Submit Button">Guardar</button>
    </div>
</form>



    
   


