<div class="card ">

    <section class="row " >
        <div class="col-sm-4" >
            <label class="may" name="paciente">Paciente: {{data.nombre}}  {{data.apellido1}} {{data.apellido2}}</label>
            
        </div>
        <div class="col-sm-4">
            <label class="may" name="tipoSesion">Tipo de sesión: </label>
            
            
        </div>
      

    </section>
    <section class="row ">
        <div class="col-sm-4">
            <label name="ultimaSesion">Nº Hitorial: </label>
            
            
        </div>
        <div class="col-sm-3">
            
            Cons. Grabación: <input type="checkbox" name="consentimientoGrabacion" value="boolean" disabled>
            
        </div>

        <div class="col-sm-3">
            <label name="edad">Edad: {{data.edad}}</label>
            
        </div>
        
    </section>

    
   
</div>

