<div class="card ">

    <section class="row ">
        <div class="col-sm-4">
            <label name="nombre">Nombre: {{data.nombre}}</label>
            
        </div>
        <div class="col-sm-3">
            <label name="apellido1">Primer Apellido: {{data.apellido1}}</label>
            
        </div>
        <div class="col-sm-3">
            <label name="apellido2">Segundo Apellido: {{data.apellido2}}</label>
            
        </div>

    </section>
    <section class="row ">
        <div class="col-sm-4">
            <label name="edad">Edad: {{data.edad}}</label>
            
        </div>
        <div class="col-sm-3">
            <label name="consentimientoGrabacion">Cons. Grabación: </label>
            
        </div>

        <div class="col-sm-3">
            <label name="ultimaSesion">Última sesión: </label>
            
        </div>
        
    </section>

    
   
</div>

