<form action="informes">
    <div class="form-outline w-50  mb-12"  submit = "onSubmit()" id="informe">
        <div class="form-outline1 w-50 mb-3" id="informe_p">
            <label class="form-label" for="informe_p">Informe Paciente:  </label>
            <textarea class="form-control" formControlName="informe_p" id="informe_p" rows="12"value="informe_p"></textarea>
        </div>
        <div class="form-outline2 w-50 mb-3" id="informe2">
            <label class="form-label" for="informe_j">Informe Judicial:  </label>
            <textarea class="form-control" formControlName="informe_j" id="informe_j" rows="12"value="informe_j"></textarea>
        </div>
    </div>
    <div class="proteccion_datos" >
        Proteccion de datos: <input type="checkbox" formControlName="ProteccionDatos" value="boolean">
    </div>
    <div class="botones">
        <button type="button" class="button" value="Submit Button">Guardar</button>
        <button type="button" class="button" value="Submit Button">Modificar</button>
    </div>
</form>
