<form [formGroup]="consultaForm">
    <div class="procedencia">
        Enviado por: <input formControlName="procedencia" placeholder="Juez, médico, amigo..." type="text">
        Fecha diagnóstico: <input id="fecha_diagnostico" formControlName="fecha_diagnostico" type="date"
                                  min="2012-01-01">
    </div>
    <div class="form-outline w-50  mb-12" id="motivos">
        <div class="form-outline1 w-50 mb-3" id="motivo1">
            <label class="form-label" for="con_motivo">Motivo consulta: </label>
            <textarea class="form-control" id="con_motivo" formControlName="con_motivo" rows="3"></textarea>
        </div>
        <div class="form-outline2 w-50 mb-3" id="motivo2">
            <label class="form-label" for="con_sintomas">Síntomas: </label>
            <textarea class="form-control" id="con_sintomas" formControlName="con_sintomas" rows="3"></textarea>
        </div>
    </div>
    <div class="form-outline w-50  mb-12" id="dco_medico">
        <div class="form-outline1 w-50 mb-3" id="dco_medico1">
            <label class="form-label" for="dco_medico1">Posología: </label>
            <textarea formControlName="posologia" class="form-control" id="tratamiento" rows="3"></textarea>
        </div>
        <div class="form-outline2 w-50 mb-3" id="dco_medico2">
            <label class="form-label" for="dco_medico2">Patología medica:</label>
            <textarea formControlName="patologia_medica" class="form-control" id="dco_medico2" rows="3"></textarea>
        </div>
    </div>
    <input type="submit" value="Guardar" (click)="guardar()">
    <input type="submit" value="Modificar" (click)="modificar()">
</form>



