<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="acorh">
            <li><a href="#">ANTECEDENTES</a>
              <ul>
                <li><a href="URL11">PERSONALES</a></li>
                <li><a href="URL12">FAMILIARES</a></li>
              </ul>
            </li>
            <li><a href="#">CONSULTA</a>
              <ul>
                <li><a href="URL21">PROCEDENCIA</a></li>
                <li><a href="URL22">DIAGNOSTICO MÉDICO</a></li>
              </ul>
            </li>
            <li><a href="#">PRUEBAS</a>
              <ul>
                <li><a href="URL31">COGNITIVA</a></li>
                <li><a href="URL32">EMOCIONAL</a></li>
                <li><a href="URL32">PRUEBAS PSICODIAGNOSTICO</a></li>
              </ul>
            </li>
            <li><a href="#">ENFERMEDAD ACTUAL</a>
            </li>
            <li><a href="#">SEGUIMIENTO</a>
                <ul>
                  <li><a href="URL31">COGNITIVA</a></li>
                  <li><a href="URL32">EMOCIONAL</a></li>
                  <li><a href="URL32">PRUEBAS PSICODIAGNOSTICO</a></li>
                </ul>
            </li>
            <li><a href="#">INFORMES</a>
                <ul>
                  <li><a href="URL31">PACIENTE</a></li>
                  <li><a href="URL32">JUDICIAL</a></li>
                  <li><a href="URL32">PROTECCION DATOS</a></li>
                </ul>
            </li>
            <li><a href="#">FACTURAS</a></li>
            <li><a href="#">VIDEOLLAMADA</a>
                <ul>
                    <li><a href="URL31">SESIONES</a></li>
                    <li><a href="URL32">GRABACIONES</a></li>
                </ul>
            </li>
          </ul>  
    </nav>
</body>
</html>
