<section>
    <label class="" name="username">Nombre de usuario: {{psico?.username}} </label><br>
    <label class="" name="nombre">Nombre: {{psico?.nombre}} </label><br>
    <label class="" name="apellido1">Primer Apellido: {{psico?.apellido1}} </label><br>
    <label class="" name="apellido2">Segundo Apellido: {{psico?.apellido2}} </label><br>
    <label class="" name="tipo_doc">Tipo Documento: {{psico?.tipo_doc}} </label><br>
    <label class="" name="documento">Documento: {{psico?.documento}} </label><br>
    <label class="" name="titulacion">Titulación: {{psico?.titulacion}} </label><br>
    <label class="" name="especialidad">Especialidad: {{psico?.especialidad}} </label><br>
    <label class="" name="credenciales_adic">Credenciales Adicionales: {{psico?.credenciales_adic}} </label><br>
    <label class="" name="telefono">Teléfono: {{psico?.telefono}} </label><br>
    <label class="" name="email">Número de Colegiado: {{psico?.num_colegiado}} </label><br>
    <label class="" name="num_colegiado">Correo electrónico: {{psico?.email}} </label><br>
    <label class="" name="calle">Dirección: {{psico?.direccion.calle}} </label><br>
    <label class="" name="cod_postal">Códifo postal: {{psico?.direccion.cod_postal}} </label><br>
    <label class="" name="ciudad">Ciudad: {{psico?.direccion.ciudad}} </label><br>
    <label class="" name="provincia">Provincia: {{psico?.direccion.provincia}} </label><br>
    <button (click)="mostrar()">Cambiar contraseña</button>

    <div *ngIf="visible">
        <app-cambiar-pass></app-cambiar-pass>
    </div>
</section>
