<div class="container">
  <form [formGroup]="miFormulario" (submit)="altaCliente()">
    Nombre: <input class="form-control" formControlName="nombre" type="text">
    <span *ngIf="getError('nombre') as message">
            <strong>{{message}}</strong>
        </span>
    Apellido: <input class="form-control" formControlName="apellido1" type="text">
    <span *ngIf="getError('apellido1') as message">
            <strong>{{message}}</strong>
        </span>
    <br>
    Dirección:<br>
    <br>
    Calle: <input class="form-control" formControlName="calle" type="text">
    <span *ngIf="getError('calle') as message">
                            <strong>{{message}}</strong>
                        </span>
    Postal: <input class="form-control" formControlName="cod_postal" type="text">
    <span *ngIf="getError('cod_postal') as message">
                    <strong>{{message}}</strong>
                </span>
    Procedencia: <input class="form-control" formControlName="procedencia" type="text">
    <span *ngIf="getError('procedencia') as message">
                    <strong>{{message}}</strong>
                </span>
    Psicologo: <input class="form-control" formControlName="psicologo" type="text">
    <span *ngIf="getError('psicologo') as message">
                    <strong>{{message}}</strong>
                </span>
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>
</div>
