<select name="diagnostico" id="diagnostico" (change)="cambiarValoracion($event.target)">
    <option *ngFor="let a of _datosPaciente?.datosMedicos?.valoracion?.reverse()">{{a.procedencia}}</option>
</select>
<!--<div class="card">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-auto">-->
<!--            <label class="text-capitalize" name="paciente">Paciente: {{data?.nombre}} {{data?.apellido1}} {{data?.apellido2}}</label>-->
<!--        </div>-->
<!--        <div class="col-sm-auto">-->
<!--            <label class="text-capitalize" name="tipoSesion">Tipo de sesión: </label>-->
<!--        </div>-->
<!--        <div class="col-sm-auto">-->
<!--            <label name="edad">Edad: {{ edad }}</label>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-sm-auto">-->
<!--            <label name="ultimaSesion">Nº Historial: {{ data?.numero_historia }} </label>-->
<!--        </div>-->

<!--        <div class="col-sm-auto">-->
<!--            Cons. Grabación: <input type="checkbox" class="form-check-input" [checked]="data?.permiso_grabacion" name="consentimientoGrabacion" disabled>-->
<!--        </div>-->
<!--        <div class="col-sm-auto">-->
<!--            <select name="diagnostico" id="diagnostico" (change)="cambiarValoracion($event.target)">-->
<!--                <option *ngFor="let a of tablaDiagnosticos.reverse()" [selected]="1">{{a.diagnosticoI}} - {{a.fechaInicioI}}</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
