<div class="card">
    <div class="row">
        <div class="col-sm-auto">
            <label class="text-capitalize" name="paciente">Paciente: {{data?.nombre}} {{data?.apellido1}} {{data?.apellido2}}</label>
        </div>
        <div class="col-sm-auto">
            <label class="text-capitalize" name="tipoSesion">Tipo de sesión: </label>
        </div>
        <div class="col-sm-auto">
            <label name="edad">Edad: {{ edad }}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto">
            <label name="ultimaSesion">Nº Historial: </label>
        </div>
        <div class="col-sm-auto">
            Cons. Grabación: <input type="checkbox" name="consentimientoGrabacion" value="boolean" disabled>
        </div>
        <div class="col-sm-auto">
            <select name="diagnostico" id="diagnostico">
                <option *ngFor="let a of diagnostico">{{a}}</option>
            </select>
        </div>
    </div>
</div>
